
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
:root {
  --gray: #ffffff75;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('images/casino.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}


.wrapper {
  width: 800px;
  height: 400px;
  margin-top: 67px;
  margin-left: 350px;
  left: 21%;
  top: 7%;
  border: double 4px yellowgreen;
  box-shadow: yellowgreen 0px -1px 4px 1px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.player-1-section {
  width: 40%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
}
.player-2-section {
  order: 1;
  width: 40%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
}
.active {
  background-color: #9acd3261;
}

.player-current-score {
  width: 122px;
  height: 70px;
  margin: 0 auto;
  top: 124px;
  position: relative;
  background-color: #7f0303;
}
h2 {
  margin-bottom: 0;
}

.die {
  top: 59px;
  position: relative;
  }

.menu {
  top: 13%;
  font-size: 40px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center
}
#reset {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  top: 27%;
  display: block;
  background-color:var(--gray);
  cursor: pointer;
}
.rollBtn {
  width: 100px;
  height: 40px;
  position: relative;
  top: 72px;
  display: block;
  background-color:var(--gray);
  cursor: pointer;
}
.holdBtn {
  width: 100px;
  height: 40px;
  top: 101px;
  position: relative;
  display: none;
  background-color:var(--gray);
  cursor: pointer;
}


@media screen and (max-width: 1110px) {
  .wrapper {
  margin-left: 163px
  }
}
@media screen and (max-width: 975px) {
  .wrapper {
  margin-left: 78px
  }
}
@media screen and (max-width: 890px) {
  .wrapper {
  margin-left: 33px
  }
}